{% extends 'base.html.twig' %}

{% block title %}Nouvel Episode{% endblock %}

{% block body %}
    <h1 class="mb-4">Créer un nouvel épisode</h1>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('app_episode_index') }}" class="btn btn-primary mt-3">Retour à la liste</a>
{% endblock %}
