/* assets/styles/app.css */

@import "~bootstrap/scss/bootstrap";

.navbar {
    background-color: #F17A0C; /* Orange background color */
}

.navbar-brand {
    font-family: 'Holtwood One SC', serif;
    color: white;
    font-size: 30px;
    font-weight: 400;
    vertical-align: middle;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 18px; /* Adjust as per design */
    font-family: 'Martel Sans', sans-serif; /* Assuming Martel Sans is imported */
    font-weight: 700;
}

.navbar-dark .navbar-nav .dropdown-menu {
    background-color: #404040;
    border-radius: 5px /* Dark gray background for dropdowns */
}

.navbar-dark .navbar-nav .dropdown-menu .dropdown-item {
    color: white;
    font-size: 16px; /* Adjust as per design */
    font-weight: 700;
    border-radius: 5px
}

.navbar-dark .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-dark .navbar-nav .dropdown-menu .dropdown-item:focus {
    background-color: #333333;
    border-radius: 5px /* Darker gray for hover/focus */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px /* Toggler icon border */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Responsive adjustments if necessary */
@media (max-width: 991px) {
    .navbar-expand-lg .navbar-collapse {
        background-color: #F17A0C;
    }
}
.nav-link, .navbar-text {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 700; /* As specified for Martel Sans */
}

/* You might also want to specify the font-size if it differs from the default */
.nav-link {
    font-size: 16px; /* Adjust to your preference */
}

/* Ensure Martel Sans is used for dropdown items as well */
.dropdown-item {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 700;
    border-radius: 5px /* Maintain font weight consistency */
}
/* assets/styles/app.css */

/* ... other styles ... */

/* Styles for the dropdown menus */
.navbar-dark .navbar-nav .nav-link.dropdown-toggle {
    background-color: #404040; /* Background color for the dropdown toggles */
}

/* Styles for the dropdown items */
.navbar-dark .navbar-nav .dropdown-menu {
    background-color: #404040; /* Background color for the dropdown menus */
}
/* assets/styles/app.css */

/* ... other styles ... */

/* Center navbar items */
.navbar-nav {
    justify-content: center;
    flex-grow: 1;
}

/* Spacing between the dropdowns */
.nav-item.dropdown {
    margin-left: 1rem; /* or use any other spacing that suits your design */
    margin-right: 1rem;
}

/* This ensures that the dropdowns are also centered within their flex container */
@media (min-width: 992px) { /* Adjusting for Bootstrap's large breakpoint */
    .navbar-expand-lg .navbar-nav {
        justify-content: center;
    }
}
.navbar-logo {
    height: 60px; /* or your preferred size */
    width: auto; /* maintain aspect ratio */
    margin-right: 0.5rem; /* adjust the spacing between the logo and the text */
}

/* Exemple de style adapté pour Bootstrap */
.card {
    background: #404040;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-title {
    font-family: 'Martel Sans';
    font-weight: 700;
    color: #FFFFFF;
    /* Autres styles... */
}

.card-text {
    font-family: 'Maitree';
    font-weight: 700;
    color: #FFFFFF;
    /* Autres styles... */
}

/* Autres styles adaptés... */
/* Styles de base */
body {
    background-color: #211F1F;
    color: #FFFFFF;
    font-family: 'Martel Sans', sans-serif;
}
/* Media */
.media {
    background-color: #D9D9D9;
    padding: 15px;
    border-radius: 5px;
}

.media img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.media-body {
    margin-left: 15px;
}

/* Saisons */
.list-group-item {
    background-color: #404040;
    color: #FFFFFF;
    border: none;
}

.list-group-item a {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-group-item:hover {
    background-color: #333333;
}

/* Bouton Retour */
.btn-primary {
    background-color: #F17A0C;
    border: none;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #E06807;
}
 .card-footer {
    background-color: #F17A0C;
    color: #FFFFFF;
}
.season-list ul.list-group.mx-auto {
    max-width: 600px;
}
.list-group-item.bg-dark {
    background-color: #404040;
}

.list-group-item.bg-dark a.text-white {
    color: #FFFFFF;
}

.list-group-item.bg-dark:hover {
    background-color: #333333;
}
.text-white-custom {
    color: #FFFFFF;
}
/* ... autres styles ... */

/* Styles pour les menus déroulants */
.navbar-dark .navbar-nav .dropdown-menu {
    background-color: #404040; /* Couleur de fond pour les menus déroulants */
    border-radius: 5px; /* Ajout d'un border-radius de 5px */
}

.navbar-dark .navbar-nav .dropdown-menu .dropdown-item {
    color: white;
    font-size: 16px; /* Ajustez selon le design */
    font-weight: 700;
    /* Maintenant, chaque élément du menu déroulant aura également un border-radius */
    border-radius: 5px;
}

.navbar-dark .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-dark .navbar-nav .dropdown-menu .dropdown-item:focus {
    background-color: #333333; /* Un gris plus foncé pour le survol/le focus */
    /* Le border-radius est également appliqué ici pour conserver la cohérence */
    border-radius: 5px;
}

.navbar-dark .navbar-nav .nav-link.dropdown-toggle {
    border-radius: 5px; /* Ajout d'un border-radius de 5px */
}

.program-details {
    background-color: #404040; /* Couleur de fond */
    border-radius: 5px; /* Rayon de bordure */
    padding: 1em; /* Espacement intérieur */
}

.synopsis-text {
    font-size: 1.1em; /* Taille du texte */
    margin-top: 1.5em; /* Espacement après l'image */
}
.card {
    background-color: #404040;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0; /* arrondir les coins supérieurs */
}

.card-title {
    font-size: 1.5em; /* Taille du titre */
    margin-top: 1rem;
}

.card-text {
    font-size: 1.1em; /* Taille du texte */
    margin: 1rem 0;
}

/* Styles pour les listes */
.list-group-item {
    background-color: #333333;
    color: #FFFFFF;
    border: none;
}

.list-group-item:hover {
    background-color: #404040;
}

/* Styles pour les boutons */
.btn-primary, .btn-secondary {
    background-color: #F17A0C;
    color: #FFFFFF;
    border: none;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #E06807;
}
.list-group-item a {
    color: #FFFFFF; /* Couleur des liens */
    text-decoration: none;
}
.card {
    /* Assure que toutes les cartes ont la même hauteur */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1; /* Permet au corps de la carte de remplir l'espace disponible */
}

.card-footer {
    /* Garantit que le pied de page reste en bas de la carte */
    margin-top: auto;
}


/* Assure que les boutons sont de la même taille */
.btn-secondary {
    width: 100%;
}
