<div{{ attributes }}>
<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="actorsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="actorsDropdown">
                        {% for category in this.categories %}
                        <li>
                            <a class="dropdown-item" href="{{ path('category_show', {'categoryName': category.name}) }}">{{ category.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
</div>

